# --- OUTPUT MAVEN ----------------------------------------------------------
/target/

# Rapports JaCoCo / Surefire
**/site/
**/surefire-reports/

# Fichiers générés par l’IDE
.idea/
*.iml

# Autres fichiers temporaires
*.log
