# --- OUTPUT MAVEN ----------------------------------------------------------


# Rapports JaCoCo / Surefire
**/site/
**/surefire-reports/

# Fichiers générés par l’IDE
.idea/
*.iml

# Autres fichiers temporaires
*.log

# Maven
/target/

# Rapports JaCoCo
**/jacoco.exec

